name: Trigger auto deployment for identity-check-service

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/identity-check-service-AutoDeployTrigger-470c32ce-bc83-4c1d-91d4-eeef94f20d8d.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: gramacheckservices.azurecr.io
          username: ${{ secrets.IDENTITYCHECKSERVICE_REGISTRY_USERNAME }}
          password: ${{ secrets.IDENTITYCHECKSERVICE_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: gramacheckservices.azurecr.io/identity-check-service:${{ github.sha }}
          file: ./Dockerfile
          context: ./


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.IDENTITYCHECKSERVICE_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n identity-check-service -g asgardeo-intern-project --server gramacheckservices.azurecr.io --username  ${{ secrets.IDENTITYCHECKSERVICE_REGISTRY_USERNAME }} --password ${{ secrets.IDENTITYCHECKSERVICE_REGISTRY_PASSWORD }}
            az containerapp update -n identity-check-service -g asgardeo-intern-project --image gramacheckservices.azurecr.io/identity-check-service:${{ github.sha }}
